flows.json
[{"id":"eda7241b54bb3bab","type":"tab","label":"Xbox Timer","disabled":false,"info":""},{"id":"b12c15a675080578","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"e9663f53.9c91a","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"f5591325b29aa478","type":"debug","z":"eda7241b54bb3bab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"elapsed.time","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":100,"wires":[]},{"id":"32cfb961f06d7f0b","type":"hourglass","z":"eda7241b54bb3bab","name":"","persistId":"","humanizeLocale":"","x":560,"y":100,"wires":[["f5591325b29aa478"]]},{"id":"ec557a05a496946b","type":"inject","z":"eda7241b54bb3bab","name":"Status","props":[{"p":"command","v":"status","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":370,"y":280,"wires":[["32cfb961f06d7f0b"]],"icon":"node-red-contrib-home-assistant-websocket/ha-current-state.svg"},{"id":"68b0ab3e7edb9b7e","type":"inject","z":"eda7241b54bb3bab","name":"Reset","props":[{"p":"command","v":"reset","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":370,"y":340,"wires":[["32cfb961f06d7f0b"]],"icon":"font-awesome/fa-times-circle"},{"id":"bf616e196635595b","type":"server-state-changed","z":"eda7241b54bb3bab","name":"Start","server":"e9663f53.9c91a","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.patofoto_in_game","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"command","propertyType":"msg","value":"start","valueType":"str"}],"x":170,"y":100,"wires":[["32cfb961f06d7f0b"],["62a125cfc757cc53"]]},{"id":"62a125cfc757cc53","type":"change","z":"eda7241b54bb3bab","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"command","tot":"msg"},{"t":"set","p":"command","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":160,"wires":[["32cfb961f06d7f0b"]]},{"id":"2f261018416ea225","type":"api-current-state","z":"b12c15a675080578","name":"","server":"e9663f53.9c91a","version":3,"outputs":2,"halt_if":"ON","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.luca_s_light_switch_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":220,"wires":[["f6c878808edefd70"],["fb748885e3e71bef"]]},{"id":"f305f64e191f4826","type":"inject","z":"b12c15a675080578","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":220,"wires":[["2f261018416ea225"]]},{"id":"f6c878808edefd70","type":"debug","z":"b12c15a675080578","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":180,"wires":[]},{"id":"fb748885e3e71bef","type":"debug","z":"b12c15a675080578","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":260,"wires":[]}]