flows.json
[
    {
        "id": "eda7241b54bb3bab",
        "type": "tab",
        "label": "Xbox Timer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b12c15a675080578",
        "type": "tab",
        "label": "Server Closet Fan",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e9663f53.9c91a",
        "type": "server",
        "name": "Home Assistant",
        "version": 2,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30
    },
    {
        "id": "f5591325b29aa478",
        "type": "debug",
        "z": "eda7241b54bb3bab",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "elapsed.time",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "32cfb961f06d7f0b",
        "type": "hourglass",
        "z": "eda7241b54bb3bab",
        "name": "",
        "persistId": "",
        "humanizeLocale": "",
        "x": 560,
        "y": 100,
        "wires": [
            [
                "f5591325b29aa478"
            ]
        ]
    },
    {
        "id": "ec557a05a496946b",
        "type": "inject",
        "z": "eda7241b54bb3bab",
        "name": "Status",
        "props": [
            {
                "p": "command",
                "v": "status",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 370,
        "y": 280,
        "wires": [
            [
                "32cfb961f06d7f0b"
            ]
        ],
        "icon": "node-red-contrib-home-assistant-websocket/ha-current-state.svg"
    },
    {
        "id": "68b0ab3e7edb9b7e",
        "type": "inject",
        "z": "eda7241b54bb3bab",
        "name": "Reset",
        "props": [
            {
                "p": "command",
                "v": "reset",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 370,
        "y": 340,
        "wires": [
            [
                "32cfb961f06d7f0b"
            ]
        ],
        "icon": "font-awesome/fa-times-circle"
    },
    {
        "id": "bf616e196635595b",
        "type": "server-state-changed",
        "z": "eda7241b54bb3bab",
        "name": "Start",
        "server": "e9663f53.9c91a",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.patofoto_in_game",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "habool",
        "haltifstate": "true",
        "halt_if_type": "bool",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "command",
                "propertyType": "msg",
                "value": "start",
                "valueType": "str"
            }
        ],
        "x": 170,
        "y": 100,
        "wires": [
            [
                "32cfb961f06d7f0b"
            ],
            [
                "62a125cfc757cc53"
            ]
        ]
    },
    {
        "id": "62a125cfc757cc53",
        "type": "change",
        "z": "eda7241b54bb3bab",
        "name": "Stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "command",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "32cfb961f06d7f0b"
            ]
        ]
    },
    {
        "id": "b89cf62ecef9cc0e",
        "type": "poll-state",
        "z": "b12c15a675080578",
        "name": "Temperature >=77",
        "server": "e9663f53.9c91a",
        "version": 2,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "updateinterval": "15",
        "updateIntervalType": "num",
        "updateIntervalUnits": "seconds",
        "outputinitially": false,
        "outputonchanged": true,
        "entity_id": "sensor.ble_temperature_server_closet_temperature_monitor",
        "state_type": "habool",
        "halt_if": "77",
        "halt_if_type": "num",
        "halt_if_compare": "gte",
        "outputs": 2,
        "x": 210,
        "y": 460,
        "wires": [
            [
                "2898e7100656463d"
            ],
            [
                "163b401dfdbbf1b8"
            ]
        ]
    },
    {
        "id": "54d452286393b91c",
        "type": "api-call-service",
        "z": "b12c15a675080578",
        "name": "",
        "server": "e9663f53.9c91a",
        "version": 3,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.qiachip_smart_switch_socket_1",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1230,
        "y": 420,
        "wires": [
            [
                "b671cce6d1ba84d2"
            ]
        ]
    },
    {
        "id": "60cac9800ae110ad",
        "type": "api-call-service",
        "z": "b12c15a675080578",
        "name": "",
        "server": "e9663f53.9c91a",
        "version": 3,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.qiachip_smart_switch_socket_1",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1230,
        "y": 500,
        "wires": [
            [
                "908954f71d858337"
            ]
        ]
    },
    {
        "id": "b671cce6d1ba84d2",
        "type": "debug",
        "z": "b12c15a675080578",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 420,
        "wires": []
    },
    {
        "id": "908954f71d858337",
        "type": "debug",
        "z": "b12c15a675080578",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 500,
        "wires": []
    },
    {
        "id": "1acee13a8d25f1ac",
        "type": "ping",
        "z": "b12c15a675080578",
        "protocol": "Automatic",
        "mode": "timed",
        "name": "",
        "host": "192.168.1.240",
        "timer": "5",
        "inputs": 0,
        "x": 190,
        "y": 620,
        "wires": [
            [
                "d58f70113733b306"
            ]
        ]
    },
    {
        "id": "d58f70113733b306",
        "type": "switch",
        "z": "b12c15a675080578",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "number",
                "vt": "number"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 620,
        "wires": [
            [
                "9dc0b4860edde826"
            ],
            [
                "cb3b05f06a015418"
            ]
        ]
    },
    {
        "id": "1a09924326b24164",
        "type": "function",
        "z": "b12c15a675080578",
        "name": "",
        "func": "let temperature = msg.payload;\nlet serverState = msg.topic;\n\nif (temperature === true || serverState === 'ON'){\n    msg.payload = 'ON';\n} else {\n    msg.payload = 'OFF';\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 460,
        "wires": [
            [
                "2273bd2b2ed4f462"
            ]
        ]
    },
    {
        "id": "2898e7100656463d",
        "type": "change",
        "z": "b12c15a675080578",
        "name": "true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 440,
        "wires": [
            [
                "1a09924326b24164",
                "6128818a55c42aa4"
            ]
        ]
    },
    {
        "id": "163b401dfdbbf1b8",
        "type": "change",
        "z": "b12c15a675080578",
        "name": "false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "1a09924326b24164",
                "445c9dc62b48bc07"
            ]
        ]
    },
    {
        "id": "9dc0b4860edde826",
        "type": "change",
        "z": "b12c15a675080578",
        "name": "ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 600,
        "wires": [
            [
                "f05d6472e8dafb21"
            ]
        ]
    },
    {
        "id": "f05d6472e8dafb21",
        "type": "change",
        "z": "b12c15a675080578",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 600,
        "wires": [
            [
                "1a09924326b24164",
                "add46c2aba73d3fe"
            ]
        ]
    },
    {
        "id": "4b14e59160fd8e7f",
        "type": "change",
        "z": "b12c15a675080578",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 640,
        "wires": [
            [
                "1a09924326b24164",
                "65915be30d57e1dd"
            ]
        ]
    },
    {
        "id": "cb3b05f06a015418",
        "type": "change",
        "z": "b12c15a675080578",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 640,
        "wires": [
            [
                "4b14e59160fd8e7f"
            ]
        ]
    },
    {
        "id": "2273bd2b2ed4f462",
        "type": "switch",
        "z": "b12c15a675080578",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1030,
        "y": 460,
        "wires": [
            [
                "54d452286393b91c"
            ],
            [
                "60cac9800ae110ad"
            ]
        ]
    },
    {
        "id": "add46c2aba73d3fe",
        "type": "debug",
        "z": "b12c15a675080578",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 600,
        "wires": []
    },
    {
        "id": "65915be30d57e1dd",
        "type": "debug",
        "z": "b12c15a675080578",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 640,
        "wires": []
    },
    {
        "id": "6128818a55c42aa4",
        "type": "debug",
        "z": "b12c15a675080578",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "445c9dc62b48bc07",
        "type": "debug",
        "z": "b12c15a675080578",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 520,
        "wires": []
    }
]