flows.json
[
    {
        "id": "eda7241b54bb3bab",
        "type": "tab",
        "label": "Xbox Timer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b12c15a675080578",
        "type": "tab",
        "label": "Server Closet Fan",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e9663f53.9c91a",
        "type": "server",
        "name": "Home Assistant",
        "version": 2,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30
    },
    {
        "id": "66a315a4c050f1ba",
        "type": "telegram bot",
        "botname": "@patofoto_bot",
        "usernames": "",
        "chatids": "1951007350",
        "baseapiurl": "",
        "updatemode": "none",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "f5591325b29aa478",
        "type": "debug",
        "z": "eda7241b54bb3bab",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "elapsed.time",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "32cfb961f06d7f0b",
        "type": "hourglass",
        "z": "eda7241b54bb3bab",
        "name": "",
        "persistId": "",
        "humanizeLocale": "",
        "x": 560,
        "y": 100,
        "wires": [
            [
                "f5591325b29aa478"
            ]
        ]
    },
    {
        "id": "ec557a05a496946b",
        "type": "inject",
        "z": "eda7241b54bb3bab",
        "name": "Status",
        "props": [
            {
                "p": "command",
                "v": "status",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 370,
        "y": 280,
        "wires": [
            [
                "32cfb961f06d7f0b"
            ]
        ],
        "icon": "node-red-contrib-home-assistant-websocket/ha-current-state.svg"
    },
    {
        "id": "68b0ab3e7edb9b7e",
        "type": "inject",
        "z": "eda7241b54bb3bab",
        "name": "Reset",
        "props": [
            {
                "p": "command",
                "v": "reset",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 370,
        "y": 340,
        "wires": [
            [
                "32cfb961f06d7f0b"
            ]
        ],
        "icon": "font-awesome/fa-times-circle"
    },
    {
        "id": "bf616e196635595b",
        "type": "server-state-changed",
        "z": "eda7241b54bb3bab",
        "name": "Start",
        "server": "e9663f53.9c91a",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.patofoto_in_game",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "habool",
        "haltifstate": "true",
        "halt_if_type": "bool",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "command",
                "propertyType": "msg",
                "value": "start",
                "valueType": "str"
            }
        ],
        "x": 170,
        "y": 100,
        "wires": [
            [
                "32cfb961f06d7f0b"
            ],
            [
                "62a125cfc757cc53"
            ]
        ]
    },
    {
        "id": "62a125cfc757cc53",
        "type": "change",
        "z": "eda7241b54bb3bab",
        "name": "Stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "command",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "32cfb961f06d7f0b"
            ]
        ]
    },
    {
        "id": "b89cf62ecef9cc0e",
        "type": "poll-state",
        "z": "b12c15a675080578",
        "name": "",
        "server": "e9663f53.9c91a",
        "version": 2,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "updateinterval": "15",
        "updateIntervalType": "num",
        "updateIntervalUnits": "seconds",
        "outputinitially": false,
        "outputonchanged": false,
        "entity_id": "sensor.ble_temperature_server_closet_temperature_monitor",
        "state_type": "num",
        "halt_if": "75",
        "halt_if_type": "num",
        "halt_if_compare": "gte",
        "outputs": 2,
        "x": 290,
        "y": 400,
        "wires": [
            [
                "54d452286393b91c",
                "fbc2516185eb63db"
            ],
            [
                "60cac9800ae110ad"
            ]
        ]
    },
    {
        "id": "54d452286393b91c",
        "type": "api-call-service",
        "z": "b12c15a675080578",
        "name": "",
        "server": "e9663f53.9c91a",
        "version": 3,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.qiachip_smart_switch_socket_1",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 730,
        "y": 380,
        "wires": [
            [
                "b671cce6d1ba84d2"
            ]
        ]
    },
    {
        "id": "60cac9800ae110ad",
        "type": "api-call-service",
        "z": "b12c15a675080578",
        "name": "",
        "server": "e9663f53.9c91a",
        "version": 3,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.qiachip_smart_switch_socket_1",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 730,
        "y": 460,
        "wires": [
            [
                "908954f71d858337"
            ]
        ]
    },
    {
        "id": "b671cce6d1ba84d2",
        "type": "debug",
        "z": "b12c15a675080578",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 380,
        "wires": []
    },
    {
        "id": "908954f71d858337",
        "type": "debug",
        "z": "b12c15a675080578",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 460,
        "wires": []
    },
    {
        "id": "13975e2cb5a66afa",
        "type": "telegram sender",
        "z": "b12c15a675080578",
        "name": "",
        "bot": "66a315a4c050f1ba",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1190,
        "y": 300,
        "wires": [
            [
                "52e525ac23648be5"
            ]
        ]
    },
    {
        "id": "279c93b067161523",
        "type": "function",
        "z": "b12c15a675080578",
        "name": "",
        "func": "msg.payload = {\n    content: 'Temperature high in server closet',\n    type: 'message',\n    chatId: 1951007350,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 300,
        "wires": [
            [
                "13975e2cb5a66afa"
            ]
        ]
    },
    {
        "id": "fbc2516185eb63db",
        "type": "function",
        "z": "b12c15a675080578",
        "name": "",
        "func": "let tempCloset = msg.payload\n    if (tempCloset === 85){\n        msg.payload = 'ON';\n    } else if (tempCloset > 85) {\n        msg.payload = '';\n    } else if (tempCloset === 84.9) {\n        msg.payload = 'OFF';\n    } else {\n        msg.payload = '';\n    }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 300,
        "wires": [
            [
                "10a8a7b62ff7840f"
            ]
        ]
    },
    {
        "id": "52e525ac23648be5",
        "type": "debug",
        "z": "b12c15a675080578",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 300,
        "wires": []
    },
    {
        "id": "10a8a7b62ff7840f",
        "type": "switch",
        "z": "b12c15a675080578",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 850,
        "y": 300,
        "wires": [
            [
                "279c93b067161523"
            ]
        ]
    }
]